html {
    @apply bg-white;
    @apply dark:bg-gray-900;
}

body {
    @apply subpixel-antialiased;
    @apply text-gray-800 dark:text-gray-200;
}

a {
    @apply text-indigo-600;
    @apply dark:text-blue-300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira';
}

a:hover {
    @apply underline text-indigo-500;
}

@media print {
    a {
        color: initial;
    }
    a:hover {
        text-decoration: none;
    }
}
